.board-detail-page {
  width: 900px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.board-detail-header {
  padding: 0 20px;
}

.board-detail-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  padding: 0 10px;
  border-radius: 999px;
  background: #ffe8f0;
  color: #d81b60;
  font-weight: 800;
  font-size: 12px;
}

.board-detail-title {
  margin: 10px 0 8px;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: -0.03em;
  line-height: 1.35;
  color: #111;
}

.board-detail-writer, .board-detail-date {
  font-size: 12px;
  font-weight: 800;
  color: darkgray;
  margin-bottom: 10px;
}

.board-detail-scroll {
  padding: 0 20px;
}

.board-detail-scroll p {
	line-height: 2.5;
}

.board-detail-images {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 15px), 1fr));
    gap: 15px;
    margin: 20px 0;
    padding: 10px 0;
}

.detail-image-item {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-view-img {
	width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.board-detail-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    padding-bottom: 50px;
	width: 900px;
	height: 40px;
}

.board-detail-back {
    flex: 1;                
    background-color: #ffe8f0; 
    color: #d81b60;
	font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.board-detail-edit {
    flex: 1;
    background-color: #ff4d6d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.board-detail-back:hover, .board-detail-edit:hover {
    filter: brightness(0.9);
}